@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;


*, *:before, *:after {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.box {
  border: 1px solid #d0d0ff;
}
.border {
  border-bottom: 2px solid #6666ff;
}

.bottom {
  border-bottom: 1px solid lightgray;
}


.images {
  display: flex;
  animation:  swipe 50000ms linear infinite;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner-wraper {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.wraper {
  display: flex;
}

.banner-wraper:hover .wraper .images {
  animation-play-state: paused;
}

.holder:hover img {
  opacity: 0.1;
}

.holder:hover span {
  display: block;
}
 
.hov_txt {
  transform: translate(-50%, -50%)
}

.nav:hover .dropdown {
  display: block !important;
}